@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'Circular';
    src: url('ruta/a/tu/font/Circular.ttf') format('truetype');
}
@font-face {
    font-family: 'DS-Digital';
    src: url('ruta/a/tu/font/DS-DIGIT.TTF') format('truetype');
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
body {
    font-family: 'Circular', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}
svg {
    position: fixed;
    top :9.3vh;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: block;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(191, 157, 206));
}
.navbarSizeAndPosition {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100vw;
    height: 10vh;
    padding: 0%;
    margin: 0%;
    z-index: 999;
    background : linear-gradient(90deg, rgb(128, 0, 202), rgb(68, 0, 108))
}
.headingBackground {
    background : linear-gradient(90deg, rgb(128, 0, 202), rgb(68, 0, 108))
}
.fullImage {
    width: 100%;
    height: auto;
}
.navbarTableSize {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 0%;
}
.navbarTableTrSize {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 0%;
}
.navbarHambuergerTd {
    width: 8%;
    height: 100%;
    text-align: center;
    background-color: rgba(240, 255, 255, 0);
    transition: filter, background-color, 0.2s ease-in-out;
    filter: brightness(0.8);
}
.NavbarHambuergerTdInvs {
    width: 8%;
    height: 100%;
    text-align: center;
    background-color: rgba(240, 255, 255, 0);
}
.navbarHambuergerTd:hover {
    filter: brightness(1.7);
    background-color: rgba(240, 255, 255, 0.207);
}
.navbarButtonLogin {
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    width: 15%;
    height: 40%;
    font-size: 2vmin;
    text-align: center;
    color: #720fb9;
    border: #720fb9 solid 2px;
    transition: color, border, background-color, 0.4s ease-in-out;
}
.navbarButtonLogin:hover {
    background-color : rgb(48, 0, 75);
    color: azure;
    border: azure solid 2px;
}
.navbarLoginTd {
    text-align: end;
    padding-right: 2%;
}
.hamburgerImg {
    width: 30%;
    height: auto;
    
}
.LogedIconClass {
    width: 4%;
    height: auto;
}
.navbarTitle {
    text-align: start;
    padding-left: 2%;
    padding-bottom: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6vmin;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    background-image: linear-gradient(to top, #dd1dff, #4e0fb9);
    -webkit-background-clip: text;
    background-clip: text; 
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6vmin;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    background-image: linear-gradient(to top, #dd1dff, #4e0fb9);
    -webkit-background-clip: text;
    background-clip: text; 
    text-decoration: none;
}
.lateralBar {
    top : 10vh;
    width: 18vw;
    position: fixed;
    height: 90vh;
    filter: brightness(0.8);
    z-index: 1000;
    background : linear-gradient(180deg, rgb(128, 0, 202), rgb(68, 0, 108));
    transition: left 0.5s ease-in-out;
}
.lateralBarActived {
    left: 0vw;
}
.lateralBarUnctived {
    left: -10vw;
}
.allScreen {
    margin-top: -5%;
    margin-left: 7.5vw;
    padding-top: 11%;
    width: 92vw;
    height: 85vh;
    transition: filter 0.5s ease-in-out;
    z-index: 1;
}
.allScreenBig {
    overflow: hidden;
    margin-top: 10vh;
    margin-left: -0.5vw;
    width: 100vw;
    height: 90vh;
    transition: filter 0.5s ease-in-out;
    z-index: 1;
}
.oscureScreen {
    filter: brightness(0.5);
}
.normalScreen {
    filter: brightness(1);
}
.LoginAnimatedBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
	height: 100vh;
	background: linear-gradient(134deg, rgb(54, 0, 85), #7b60aa, rgb(128, 0, 202));
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
    z-index: -1;
}
.FormEncapsuler {
    width: 60vw;
    height: 60vh;
    border: black solid 1px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 7%;
    padding: 0;
    z-index: 5;
    background: linear-gradient(135deg,rgb(224, 224, 224),white, rgb(224, 224, 224));
}
.formHeader {
    height: 12%;
    color: #4e0fb9;
    font-size: 5vmin;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: black solid 1px;
    padding-top: 1%;
    text-align: center;
    background : linear-gradient(90deg, rgb(128, 0, 202), rgb(68, 0, 108));
    -webkit-text-stroke: 0.7px white;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.formTable {
    margin-top: 10%;
    width: 100%;
    height: 40%;
    text-align: center;
    vertical-align: middle;
}
.fullSize {
    width: 100%;
    height: 100%;
}
.InfoEncapsuler {
    width: 60vw;
    text-align: center;
    border: black solid 1px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 7%;
    padding: 0;
    z-index: 5;
    background: linear-gradient(135deg, rgb(206, 206, 206), #ffffff, rgb(206, 206, 206));
}
.InfoTable {
    position: relative;
    margin-left: 9%;
    margin-top: 10%;
    width: 80%;
    margin-bottom: 10%;
    text-align: center;
    vertical-align: middle;
    border: black solid 1px;
}
.InfoTableTr {
    width: 100%;
    padding: 0%;
}
.InfoTableTrHeader {
    width: 100%;
    padding: 0%;
    background : linear-gradient(90deg, rgb(128, 0, 202), rgb(68, 0, 108));
    color: aliceblue;
    font-size: 3.2vmin;
}
.LateralBarTable {
    width: 100%;
    height: 10vh;
    margin: 0;
}
.LateralTableTr {
    width: 100%;
    padding: 0%;
}
.nothingHere {
    height: 30vh;
    padding-top: 15vh;
    font-size: 4vmin;
}
.sadFace {
    position: fixed;
    top: 70vh;
    left: 43vw;
    color: gray;
    font-family: 'DS-Digital', sans-serif;
    font-size: 10vmin;
}
.middleTd {
    background-color: rgb(221, 221, 221);
}
.tdNoTitle {
    height: 10%;
}
.MenuTitle {
    color: white;
    font-size: 5vmin;
    transition: left, opacity, 0.5s ease-in-out;
}
.TitleLogo {
    position: absolute;
    width: 25%;
    height: 25%;
}
.TitleMovedLogo {
    left: 2%;
}
.TitleUnMovedLogo {
    left: 65%
}
.TitleMovedText {
    left: 28%;
    opacity: 1;
}
.TitleUnMovedText {
    left: -5%;
    opacity: 0;
}
.TitleLetter {
    position: absolute;
    height: 25%;
    transform: translateY(6%);
}
.lateralMiniOption {
    color: white;
    text-decoration: none !important;
}
.TitleLogo2 {
    position: absolute;
    width: 25%;
    height: 25%;
    top : 24vh;
}
.TitleLetter2 {
    position: absolute;
    height: 25%;
    transform: translateY(6%);
    top : 24vh;
}
.Subtitle1 {
    position: absolute;
    height: 25%;
    top : 12vh;
    font-size: 3vmin;
    padding-left : 10px;
    
}
.Subtitle2 {
    position: absolute;
    height: 25%;
    top : 18vh;
    font-size: 3vmin;
    padding-left : 10px;
}
.liner {
    transition: opacity 0.5s ease-in-out;
}
.inv {
    opacity: 0;
}
.profileInfo {
    position: fixed;
    left : 90vw;
    width: 10vw;
    height: 15vh;
    background: linear-gradient(16deg, rgb(226, 226, 226), white);
    z-index: 998;
    border-end-start-radius: 20px;
    border-bottom: rgb(68, 0, 108) solid 2px;
    border-left: rgb(68, 0, 108) solid 2px;
    border-right: rgb(68, 0, 108) solid 2px;
    transition: top 0.5s ease-in-out;
}
.profileShow { 
    top : 10vh;
}
.profileUnShow { 
    top : -10vh;
}
.profileOption {
    height: 15%;
    margin-top: 15%;
    width: 100%;
    text-align: center;
}
.profileOptionA {
    text-decoration: none !important;
    color: #720fb9;
}
.profileOptionL {
    text-decoration: none !important;
    color: rgb(199, 1, 1)
}
.editButton {
    width: 80%;
    background-color: rgb(106, 176, 0);
    color: white;
    font-size: 2.5vmin;
    border-radius: 5px;
    border: white solid 2px;
    transition: color, border, background-color, 0.2s ease-in-out;
}
.editButton:hover {
    color: rgb(106, 176, 0);
    border: rgb(106, 176, 0) solid 2px;
    background-color: white;
}
.viewButton {
    width: 80%;
    background-color: rgb(0, 97, 176);
    color: white;
    font-size: 2.5vmin;
    border-radius: 5px;
    border: white solid 2px;
    transition: color, border, background-color, 0.2s ease-in-out;
}
.viewButton:hover {
    color: rgb(0, 97, 176);
    border: rgb(0, 97, 176) solid 2px;
    background-color: white;
}
.deleteButton {
    width: 80%;
    background-color: rgb(176, 0, 0);
    color: white;
    font-size: 2.5vmin;
    border-radius: 5px;
    border: white solid 2px;
    transition: color, border, background-color, 0.2s ease-in-out;
}
.deleteButton:hover {
    color: rgb(176, 0, 0);
    border: rgb(176, 0, 0) solid 2px;
    background-color: white;
}
.exportButton {
    width: 80%;
    background-color: rgb(129, 129, 129);
    color: white;
    font-size: 2.5vmin;
    border-radius: 5px;
    border: white solid 2px;
    transition: color, border, background-color, 0.2s ease-in-out;
}
.exportButton:hover {
    color: rgb(129, 129, 129);
    border: rgb(129, 129, 129) solid 2px;
    background-color: white;
}
.unmodifiSize {
    margin: 0;
}
.infoTR {
    filter: brightness(1);
    transition: filter 0.4s ease-in-out;
    background-color: rgb(255, 255, 255);
}
.infoTR:hover {
    filter: brightness(0.9);
}
.Subtitle3 {
    position: absolute;
    height: 25%;
    top : 36vh;
    font-size: 3vmin;
    padding-left : 10px;
    
}
.TitleLetter3 {
    position: absolute;
    height: 25%;
    transform: translateY(6%);
    top : 42vh;
}
.TitleLogo3 {
    position: absolute;
    width: 25%;
    height: 25%;
    top : 42vh;
}
.Subtitle4 {
    position: absolute;
    height: 25%;
    top : 54vh;
    font-size: 3vmin;
    padding-left : 10px;  
}
.AllCalendars {
    position: absolute;
    left : -84vw;
    top : 32vh;
    height: 60vh;
}
.AllCalendarsTR {
    height: 100%;
}
.oneCalendar {
    margin-left: 100vw;
    width: 60vw;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background : radial-gradient(white, rgb(184, 184, 184));
    border: black solid 2px;
}
.oneCalendarHeader {
    background : linear-gradient(90deg, rgb(128, 0, 202), rgb(68, 0, 108));
    color: aliceblue;
    font-size: 3.2vmin;
}
.oneCalendarTD {
    vertical-align: top;
    text-align: start;
    filter: brightness(1);
    transition: filter 0.5s ease-in-out;
    background-color: azure;
}
.oneCalendarTD:hover {
    filter: brightness(0.8);
}
.oneCalendarHeaderTD {
    width: 14.28%;
}
.period {
    background-color: rgb(94, 142, 255);
}
.weekend {
    background-color: rgb(167, 178, 205);
}
.holiday {
    background-color: rgb(255, 193, 94);
}
.unday {
    background-color: rgb(69, 69, 69);
}
.arrow {
    height: 5vh;
    width: auto;
}
.leyenda {
    position: absolute;
    left: 35vw;
    top: 25vh;
}
#AllCalendars {
    transition: left 0.3s ease-in-out;
}